@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-200 antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-slate-900/40 backdrop-blur-xl;
  }
  
  .neon-glow {
    box-shadow: 0 0 10px rgba(56, 189, 248, 0.5);
  }
}
